<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style type="text/css">
    p{
      text-indent: 20px;
      font-weight: 100;
      font-size: 15px;
      line-height: 24px;
      margin-top: -15px;
    }

    .seal_area{
      width:200px;
      position:absolute;
      right:60px;
    }
  </style>
</head>
<body>
  <div style="text-align:center;width:100%">
    <h2>律 师 函</h2>
  </div>
  <div style="text-align:right;width:100%">
    (2020)昆律网函字第 803636 号
  </div>

{{name}}：<br/>
<br/>
<p>广东东方昆仑律师事务所接受中国人民财产保险股份有限公司广东省分公
司（以下简称“人保公司”）的委托，指派本所章良琅律师就您拖欠贷款的有
关事宜函告如下。</p>
<p>根据人保公司的陈述及提供的电子数据等资料显示：</p>
<p>您在宁夏黄河农村商业银行股份有限公司申请贷款，该笔贷款由人保公司
（含下辖分公司）提供贷款保证保险（保单号： PBAH20194406Q500M63879）。
由于您贷款逾期，贷款人向人保公司索赔逾期金额 6206.78 元，人保公司理赔
完毕后该债权已转移至人保公司。</p>
<p>为避免影响您的个人信用记录，请您将上述代偿理赔款项归还人保公司并
存入人保公司对公账户：</p>
<p>账户名：中国人民财产保险股份有限公司广东省分公司</p>
<p>账号： 713357768150</p>
<p>开户行：中国银行广州珠江支行</p>
<p>(付款时请备注摘要： E0723 王兴 143537)</p>
<p>基于上述，本所现代表人保公司正式要求您见到本函后二日内清偿全部债
务。具体金额以还款当日人保公司提供的数据为准，客服电话： 0757-95518。
如您见函后仍不予偿还，根据您的违约行为，人保公司有权采取包括但不
限于下列措施：</p>
<p>一、将您的不良信用信息上报中国人民银行个人征信系统，因此产生的负
面影响由您本人承担（将影响您与银行发生的一切信贷业务）；</p>
<p>二、选择本地有影响力的新闻媒体刊登催收公告；</p>
<p>三、依法向人民法院提起民事诉讼，请求法院判令您清偿全部欠款及由此
产生的律师费、诉讼费、财产保全费、执行费等款项。同时，向人民法院申请
财产保全，请求法院依法查封、扣押、冻结您相应金额的个人财产（包括但不
限于房产、车辆、存款、股票、债券等）。如您仍拒绝履行，将申请强制执行
；如因此使你被列入失信黑名单,将导致你被禁止有下列行为：</p>
<p>1、 乘坐交通工具时，选择飞机、列车软卧、轮船二等以上舱位；</p>
<p>2、 在星级以上宾馆、酒店、夜总会、高尔夫球场等场所进行高消费；</p>
<p>3、 购买不动产或者新建、扩建、高档装修房屋；</p>
<p>4、 租赁高档写字楼、宾馆、公寓等场所办公；</p>
<p>5、 购买非经营必需车辆；</p>
<p>6、 旅游、度假；</p>
<p>7、 子女就读高收费私立学校；</p>
<p>8、 支付高额保费购买保险理财产品；</p>
<p>9、 其他非生活和工作必需的高消费行为。</p>
<p>谨此。希望您高度重视本函告知事项，及时作出回应，以免引起不必要的
讼累，并导致您的信用受损而带来诸多的不便。</p>
<img src="http://127.0.0.1:7001/public/images/aa.png" style="width:200px;height:200px;position:absolute;right:70px;bottom:130px;"/>
<div style="width:100%;margin-top:30px;position:relative;height:130px">
  <p class="seal_area" style="top:15px;">广东东方昆仑律师事务所</p>
  <p class="seal_area" style="top:55px;">律师：章良琅</p>
  <p class="seal_area" style="top:95px;">2020 年 08 月 24 日</p>
</div>

<div style="margin-top:80px">
  <p>联系电话： 13265924110 {{name}}</p>
  <p>备注：上述索赔逾期金额以人保公司最新数据为准，如您已还清上述欠款，则
  不必理会此函。</p>
</div>


</body>
</html>
